body {
  font-family: "Comic Neue", sans-serif;
  margin: 0;
  width: 100vp;
}
h1,
h2,
p {
  margin: 0;
  padding: 0;
}
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.link {
  text-decoration: none;
  font-style: inherit;
  color: inherit;
  font-size: 10px;
  margin: 5px;
  padding: 5px;
  border-radius: 6px;
}

.background-container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
  background: rgb(194, 237, 232);

  background: linear-gradient(
    90deg,
    rgba(194, 237, 232, 1) 0%,
    rgba(185, 240, 105, 1) 39%,
    rgba(252, 157, 157, 1) 100%
  );
}
.header {
  display: flex;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

.header-wrap {
  display: flex;
  flex-direction: column;

  margin: 5px;
}
.header-logo {
  margin: 5px;
}
.header-title {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: 700;
}
.header-nav {
}
.header-nav-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.header-nav-about {
  background-color: #049bdc;
}
.header-nav-quiz {
  background-color: #80cc11;
}
.header-nav-quest {
  background-color: #ff2222;
}
.header-nav-outdoor {
  background-color: #ff9900;
}
.header-nav-indoor {
  background-color: #bb33aa;
}

.hero-wrap {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 10px;
}
.carousel-inner {
  /* height: 50vh;
  width: 50vw; */
}

.sidebar {
}
.sidebar-title {
  font-size: 14px;
  font-weight: 700;
}
.footer {
  width: 100vh;
  height: 10vw;
}
