body {
  font-family: "Comic Neue", sans-serif;
  margin: 0;
  width: 100vp;
}
h1,
h2,
p {
  margin: 0;
  padding: 0;
}
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.link {
  text-decoration: none;
  font-style: inherit;
  color: inherit;
  margin: 10px;
  padding: 6px;
  border-radius: 6px;
}
.header-title {
  margin: 10px;
  font-weight: 700;
}
.background-container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
  background: rgb(194, 237, 232);

  background: linear-gradient(
    90deg,
    rgba(194, 237, 232, 1) 0%,
    rgba(185, 240, 105, 1) 39%,
    rgba(252, 157, 157, 1) 100%
  );
}
.header {
  display: flex;
  width: 100vp;
}
.header-logo {
  margin: 10px;
}

.header-nav-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.header-nav-about {
  background-color: #049bdc;
}
.header-nav-quiz {
  background-color: #80cc11;
}
.header-nav-outdoor {
  background-color: #ff2222;
}
.header-nav-indoor {
  background-color: #ff9900;
}
.header-nav-quest {
  background-color: #bb33aa;
}
.hero {
  width: 80vw;
  height: 70vh;
  margin-left: 20vw;
  float: right;
}
/* .hero-img {
  height: 50vh;
} */
.carousel-inner {
  height: 50vh;
  width: 50vw;
}

.sidebar {
  float: left;
  width: 20vw;
  height: 70vh;
}
.footer {
  width: 100vh;
  height: 10vw;
}
